	<table>
	<tr>
		<td  [hidden]="pivottt"> 
		<jqxPivotDesigner #myPivotDesigner 
			[type]="pivotGrid"
			[width]="400" 
			[height]="400">
		</jqxPivotDesigner>
        </td>
        
		<td >
		<jqxPivotGrid #myPivotGrid 
			[width]="getWidth()" 
			[height]="400"
			[source]="pivotDataSource"
			[treeStyleRows] = "false"
			[autoResize] = "false"
			[multipleSelectionEnabled] = "true"
			>
		</jqxPivotGrid>
	 </td>
	</tr>
</table>
<button mat-raised-button mat-primary (click)="SwitchGrid()" class="ryder-button" style="height:40px; float: right; margin-top: 10px;">
    {{ButtonText}}
</button>



<router-outlet></router-outlet>